@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MOVBOT</title>
    <link rel="stylesheet" href="site.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link rel="shortcut icon" href="img/movie-solid-24.png" type="image/x-icon" >
    
</head>
<body>
    <!--=============== NAVBAR ===============-->
    <header>
        <a href="index.html" class="logo">
            <i class='bx bxs-movie'></i> MOVBOT
        </a>
        <div class="bx bx-menu" id="menu-icon"></div>
    <!--=============== MENU ===============-->
        <ul class="navbar">
            <li><a href="index.html">Home</a></li>
            <li><a href="index.html">Films</a></li>
            <li><a href="index.html">Soon</a></li>
            <li><a href="index.html">News</a></li>
        </ul>
        <a href="about.html" class="btn">Contact</a>
    </header>

    <!--=============== PLAY MOVIE ===============-->
    <div class="movie-container">
        <!-- Play Img  -->
        <img src="img/movie-page/avatar-2/1.jpg" class="play-img">
        <!-- Play Text -->
        <div class="play-text">
            <h2>Avatar: The Way of Water</h2>

            <!-- tags -->
            <div class="tags">
                <span>Science Fiction</span>
                
            </div>
            <div class="tags">         
                <span >16 December 2022</span>
            </div>

      
            <!-- <div class="trailer">
                <a href="#" class="btn">
                    <i class='bx bx-right-arrow'></i>
                    <span>Fragmanı İzle</span>
                </a>
                 </div>  -->

                 <!-- play btn -->
                 <i class='bx bx-right-arrow play-movie'></i>
                 <!-- video container -->
                 <div class="video-container">
                     <!-- video-box -->
                     <div class="video-box">
                        <iframe id="myvideo" controls src="https://www.youtube.com/embed/a8Gx8wiNbs8" frameborder="0" allow="accelerometer; autoplay;" allowfullscreen></iframe>
                        <!-- close video -->
                        <i class='bx bx-x close-video'></i>
                    </div>
                 </div>
        </div>

    </div>

    <!--=============== MOVIE ABOUT ===============-->
    <div class="about-movie">
        <h2>Summary</h2>
        <p>Jake Sully lives with his newfound family formed on the planet of Pandora. Once a familiar threat returns to finish what was previously started, Jake must work with Neytiri and the army of the Na'vi race to protect their planet.
        </p>
        <!-- movie cast -->
        <h2 class="cast-heading">Actors</h2>
        <div class="cast">
            <div class="cast-box">
                <a href="https://www.imdb.com/name/nm0000706/?ref_=tt_cl_t_1" target="blank"><img src="img/movie-page/avatar-2/1-1.jpg" class="cast-img"></a>
                <span class="cast-title">Michelle Yeoh</span>
            </div>
            <div class="cast-box">
                <a href="https://www.imdb.com/name/nm0757855/?ref_=tt_cl_t_2" target="blank"><img src="img/movie-page/avatar-2/1-2.jpg" class="cast-img"></a>
                <span class="cast-title">Zoe Saldana </span>
            </div>
            <div class="cast-box">
                <a href="https://www.imdb.com/name/nm0941777/?ref_=tt_cl_t_3" target="blank"><img src="img/movie-page/avatar-2/1-3.jpg" class="cast-img"></a>
                <span class="cast-title">Sam Worthington</span>
            </div>
            <div class="cast-box">
                <a href="https://www.imdb.com/name/nm0000701/?ref_=tt_cl_t_4" target="blank"><img src="img/movie-page/avatar-2/1-4.jpg" class="cast-img"></a>
                <span class="cast-title">Kate Winslet</span>
            </div>
            <div class="cast-box">
                <a href="https://www.imdb.com/name/nm0000610/?ref_=tt_cl_t_5" target="blank"><img src="img/movie-page/avatar-2/1-5.jpg" class="cast-img"></a>
                <span class="cast-title">Giovanni Ribisi</span>
            </div>

        </div>
    </div>    
</body>
</html>