@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MOVBOT</title>
    <link rel="stylesheet" href="site.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link rel="shortcut icon" href="img/movie-solid-24.png" type="image/x-icon" >
    
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
</head>
<body>
    <!--=============== PLAY MOVIE ===============-->
    <div class="movie-container">
        <!-- Play Img  -->
        <img src="img/movie-page/dune/1.jpg" class="play-img">
        <!-- Play Text -->
        <div class="play-text">
            <h2>Dune</h2>
            <div class="rating">
                <i class='bx bxs-star' ></i>
                <i class='bx bxs-star' ></i>
                <i class='bx bxs-star' ></i>
                <i class='bx bxs-star' ></i>
                <i class='bx bx-star' ></i>
            </div>
            <!-- tags -->
            <div class="tags">
                <span>Action</span>
                <span>Adventure</span>
                <span>Drama</span>
            </div>
            <!-- imdb -->
            <a target="_blank" href="https://www.imdb.com/title/tt1160419/?ref_=nv_sr_srsg_0">
            <div class="imdb">
                <i class='bx bxl-imdb' ></i>
                <p><span>8.1 </span>/ 10</p>
            </div>
            </a>
      
            <!-- <div class="trailer">
                <a href="#" class="btn">
                    <i class='bx bx-right-arrow'></i>
                    <span>Fragmanı İzle</span>
                </a>
                 </div>  -->

                 <!-- play btn -->
                 <i class='bx bx-right-arrow play-movie'></i>
                 <!-- video container -->
                 <div class="video-container">
                     <!-- video-box -->
                     <div class="video-box">
                        <iframe id="myvideo" controls src="https://www.youtube.com/embed/8g18jFHCLXk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <!-- close video -->
                        <i class='bx bx-x close-video'></i>
                    </div>
                 </div>
        </div>

    </div>

    <!--=============== MOVIE ABOUT ===============-->
    <div class="about-movie">
        <h2>Summary</h2>
        <p>A mythic and emotionally charged hero's journey, "Dune" tells the story of Paul Atreides, a brilliant and gifted young man born into a great destiny beyond his understanding, who must travel to the most dangerous planet in the universe to ensure the future of his family and his people. As malevolent forces explode into conflict over the planet's exclusive supply of the most precious resource in existence-a commodity capable of unlocking humanity's greatest potential-only those who can conquer their fear will survive.</p>
        <!-- movie cast -->
        <h2 class="cast-heading">Actors</h2>
        <div class="cast">
            <div class="cast-box">
                <a target=_blank" href="https://www.imdb.com/name/nm3154303/?ref_=tt_cl_i_1"><img src="img/movie-page/dune/1-1.jpg" class="cast-img"></a>
                <span class="cast-title">Timothée Chalamet</span>
            </div>
            <div class="cast-box">
                <a target=_blank" href="https://www.imdb.com/name/nm0272581/?ref_=tt_cl_i_2"><img src="img/movie-page/dune/1-2.jpg" class="cast-img"></a>
                <span class="cast-title">Rebecca Ferguson</span>
            </div>
            <div class="cast-box">
                <a target=_blank" href="https://www.imdb.com/name/nm3918035/?ref_=tt_cl_i_3"><img src="img/movie-page/dune/1-3.jpg" class="cast-img"></a>
                <span class="cast-title">Zendaya</span>
            </div>
            <div class="cast-box">
                <a target=_blank" href="https://www.imdb.com/name/nm1209966/?ref_=tt_cl_i_4"><img src="img/movie-page/dune/1-4.jpg" class="cast-img"></a>
                <span class="cast-title">Oscar Isaac</span>
            </div>
            <div class="cast-box">
                <a target=_blank" href="https://www.imdb.com/name/nm0597388/?ref_=tt_cl_i_5"><img src="img/movie-page/dune/1-5.jpg" class="cast-img"></a>
                <span class="cast-title">Jason Momoa</span>
            </div>

        </div>
    </div>
</body>
</html>