@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MOVBOT</title>
    <link rel="stylesheet" href="site.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link rel="shortcut icon" href="img/movie-solid-24.png" type="image/x-icon" >
</head>
<body>
    <!--=============== PLAY MOVIE ===============-->
    <div class="movie-container">
        <!-- Play Img  -->
        <img src="img/movie-page/gentlemen/1.jpg" class="play-img">
        <!-- Play Text -->
        <div class="play-text">
            <h2>The Gentlemen</h2>
            <div class="rating">
                <i class='bx bxs-star' ></i>
                <i class='bx bxs-star' ></i>
                <i class='bx bxs-star' ></i>
                <i class='bx bxs-star-half' ></i>
                <i class='bx bx-star' ></i>
            </div>
            <!-- tags -->
            <div class="tags">
                <span>Action</span>
                <span>Comedy</span>
                <span>Crime</span>
            </div>

            <!-- imdb -->
            <a target="_blank" href="https://www.imdb.com/title/tt8367814/?ref_=nv_sr_srsg_0">
                <div class="imdb">
                    <i class='bx bxl-imdb' ></i>
                    <p><span>7.8 </span>/ 10</p>
                </div>
                </a>

      
            <!-- <div class="trailer">
                <a href="#" class="btn">
                    <i class='bx bx-right-arrow'></i>
                    <span>Fragmanı İzle</span>
                </a>
                 </div>  -->

                 <!-- play btn -->
                 <i class='bx bx-right-arrow play-movie'></i>
                 <!-- video container -->
                 <div class="video-container">
                     <!-- video-box -->
                     <div class="video-box">
                        <iframe id="myvideo" controls src="https://www.youtube.com/embed/Ify9S7hj480"  frameborder="0" allow="accelerometer; autoplay;" allowfullscreen></iframe>
                        <!-- close video -->
                        <i class='bx bx-x close-video'></i>
                    </div>
                 </div>
        </div>

    </div>

    <!--=============== MOVIE ABOUT ===============-->
    <div class="about-movie">
        <h2>Summary</h2>
        <p>An American expat tries to sell off his highly profitable marijuana empire in London, triggering plots, schemes, bribery and blackmail in an attempt to steal his domain out from under him.</p>
        <!-- movie cast -->
        <h2 class="cast-heading">Actors</h2>
        <div class="cast">
            <div class="cast-box">
                <a href="https://www.imdb.com/name/nm0000190/?ref_=tt_cl_i_1" target="blank"><img src="img/movie-page/gentlemen/1-1.jpg" class="cast-img"></a>
                <span class="cast-title">Matthew McConaughey</span>
            </div>
            <div class="cast-box">
                <a href="https://www.imdb.com/name/nm0402271/?ref_=tt_cl_i_2" target="blank"><img src="img/movie-page/gentlemen/1-2.jpg" class="cast-img"></a>
                <span class="cast-title">Charlie Hunnam</span>
            </div>
            <div class="cast-box">
                <a href="https://www.imdb.com/name/nm1890784/?ref_=tt_cl_i_3" target="blank"><img src="img/movie-page/gentlemen/1-3.jpg" class="cast-img"></a>
                <span class="cast-title">Michelle Dockery</span>
            </div>
            <div class="cast-box">
                <a href="https://www.imdb.com/name/nm0834989/?ref_=tt_cl_i_4" target="blank"><img src="img/movie-page/gentlemen/1-4.jpg" class="cast-img"></a>
                <span class="cast-title">Jeremy Strong</span>
            </div>
            <div class="cast-box">
                <a href="https://www.imdb.com/name/nm1869872/?ref_=tt_cl_i_5" target="blank"><img src="img/movie-page/gentlemen/1-5.jpg" class="cast-img"></a>
                <span class="cast-title">Lyne Renée</span>
            </div>

        </div>
    </div>
</body>
</html>