@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MOVBOT</title>
    <link rel="stylesheet" href="site.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link rel="shortcut icon" href="img/movie-solid-24.png" type="image/x-icon" >
   
</head>
<body>
  
    <!--=============== PLAY MOVIE ===============-->
    <div class="movie-container">
        <!-- Play Img  -->
        <img src="img/movie-page/infinite/1.jpg" class="play-img">
        <!-- Play Text -->
        <div class="play-text">
            <h2>Infinite</h2>
            <div class="rating">
                <i class='bx bxs-star' ></i>
                <i class='bx bxs-star' ></i>
                <i class='bx bxs-star' ></i>
                <i class='bx bxs-star-half' ></i>
                <i class='bx bx-star' ></i>
            </div>
            <!-- tags -->
            <div class="tags">
                <span>Action</span>
                <span>Sci-fi</span>
                <span>Thriller</span>
            </div>

            <!-- imdb -->
            <a target="_blank" href="https://www.imdb.com/title/tt6654210/?ref_=nv_sr_srsg_0">
                <div class="imdb">
                    <i class='bx bxl-imdb' ></i>
                    <p><span>5.4 </span>/ 10</p>
                </div>
                </a>

      
            <!-- <div class="trailer">
                <a href="#" class="btn">
                    <i class='bx bx-right-arrow'></i>
                    <span>Fragmanı İzle</span>
                </a>
                 </div>  -->

                 <!-- play btn -->
                 <i class='bx bx-right-arrow play-movie'></i>
                 <!-- video container -->
                 <div class="video-container">
                     <!-- video-box -->
                     <div class="video-box">
                        <iframe id="myvideo" controls src="https://www.youtube.com/embed/_WWEOCQGxSw"  frameborder="0" allow="accelerometer; autoplay;" allowfullscreen></iframe>
                        <!-- close video -->
                        <i class='bx bx-x close-video'></i>
                    </div>
                 </div>
        </div>

    </div>

    <!--=============== MOVIE ABOUT ===============-->
    <div class="about-movie">
        <h2>Summary</h2>
        <p>Haunted by memories of places he's never visited, a man joins forces with a group of reborn warriors to stop a madman from destroying the endless cycle of life and reincarnation.</p>
        <!-- movie cast -->
        <h2 class="cast-heading">Actors</h2>
        <div class="cast">
            <div class="cast-box">
                <a href="https://www.imdb.com/name/nm0000242/?ref_=tt_cl_i_1" target="blank"><img src="img/movie-page/infinite/1-1.jpg" class="cast-img"></a>
                <span class="cast-title">Mark Wahlberg</span>
            </div>
            <div class="cast-box">
                <a href="https://www.imdb.com/name/nm0252230/?ref_=tt_cl_i_2" target="blank"><img src="img/movie-page/infinite/1-2.jpg" class="cast-img"></a>
                <span class="cast-title">Chiwetel Ejiofor</span>
            </div>
            <div class="cast-box">
                <a href="https://www.imdb.com/name/nm5824400/?ref_=tt_cl_i_3" target="blank"><img src="img/movie-page/infinite/1-3.jpg" class="cast-img"></a>
                <span class="cast-title">Sophie Cookson</span>
            </div>
            <div class="cast-box">
                <a href="https://www.imdb.com/name/nm3729721/?ref_=tt_cl_i_4" target="blank"><img src="img/movie-page/infinite/1-4.jpg" class="cast-img"></a>
                <span class="cast-title">Dylan O'Brien</span>
            </div>
            <div class="cast-box">
                <a href="https://www.imdb.com/name/nm1727621/?ref_=tt_cl_i_5" target="blank"><img src="img/movie-page/infinite/1-5.jpg" class="cast-img"></a>
                <span class="cast-title">Jason Mantzoukas</span>
            </div>

        </div>
    </div>
</body>
</html>