@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MOVBOT</title>
    <link rel="stylesheet" href="site.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link rel="shortcut icon" href="img/movie-solid-24.png" type="image/x-icon" >
   
</head>
<body>
   
    <!--=============== PLAY MOVIE ===============-->
    <div class="movie-container">
        <!-- Play Img  -->
        <img src="img/movie-page/thor/1.jpg" class="play-img">
        <!-- Play Text -->
        <div class="play-text">
            <h2>Thor: Love The Thunder</h2>

            <!-- tags -->
            <div class="tags">
                <span>Science Fiction</span>
                <span>Action</span>
                
            </div>
            <div class="tags">         
                <span >8 July 2022</span>
            </div>

      
            <!-- <div class="trailer">
                <a href="#" class="btn">
                    <i class='bx bx-right-arrow'></i>
                    <span>Fragmanı İzle</span>
                </a>
                 </div>  -->

                 <!-- play btn -->
                 <i class='bx bx-right-arrow play-movie'></i>
                 <!-- video container -->
                 <div class="video-container">
                     <!-- video-box -->
                     <div class="video-box">
                        <iframe id="myvideo" controls src="https://www.youtube.com/embed/tgB1wUcmbbw" frameborder="0" allow="accelerometer; autoplay;" allowfullscreen></iframe>
                        <!-- close video -->
                        <i class='bx bx-x close-video'></i>
                    </div>
                 </div>
        </div>

    </div>

    <!--=============== MOVIE ABOUT ===============-->
    <div class="about-movie">
        <h2>Summary</h2>
        <p>“The film finds Thor (Chris Hemsworth) on a journey unlike anything he's ever faced – a quest for inner peace. But his retirement is interrupted by a galactic killer known as Gorr the God Butcher (Christian Bale), who seeks the extinction of the gods. To combat the threat, Thor enlists the help of King Valkyrie (Tessa Thompson), Korg (Taika Waititi) and ex-girlfriend Jane Foster (Natalie Portman), who – to Thor's surprise – inexplicably wields his magical hammer, Mjolnir, as the Mighty Thor. Together, they embark upon a harrowing cosmic adventure to uncover the mystery of the God Butcher's vengeance and stop him before it's too late.”
        </p>
        <!-- movie cast -->
        <h2 class="cast-heading">Actors</h2>
        <div class="cast">
            <div class="cast-box">
                <a href="https://www.imdb.com/name/nm1165110/?ref_=tt_cl_t_7" target="blank"><img src="img/movie-page/thor/1-1.jpeg" class="cast-img"></a>
                <span class="cast-title">Chris Hemsworth</span>
            </div>
            <div class="cast-box">
                <a href="https://www.imdb.com/name/nm0000204/?ref_=tt_cl_t_4" target="blank"><img src="img/movie-page/thor/1-2.jpeg" class="cast-img"></a>
                <span class="cast-title">Natalie Portman</span>
            </div>
            <div class="cast-box">
                <a href="https://www.imdb.com/name/nm0000288/?ref_=tt_cl_t_5" target="blank"><img src="img/movie-page/thor/1-3.jpeg" class="cast-img"></a>
                <span class="cast-title">Christian Bale</span>
            </div>
            <div class="cast-box">
                <a href="https://www.imdb.com/name/nm0169806/?ref_=tt_cl_t_2" target="blank"><img src="img/movie-page/thor/1-4.jpeg" class="cast-img"></a>
                <span class="cast-title">Taika Waititi</span>
            </div>
            <div class="cast-box">
                <a href="https://www.imdb.com/name/nm1935086/?ref_=tt_cl_t_12" target="blank"><img src="img/movie-page/thor/1-5.jpeg" class="cast-img"></a>
                <span class="cast-title">Tessa Thompson</span>
            </div>

        </div>
    </div>
    
</body>
</html>